
<head>
<script type="text/javascript" src="/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/table.css">
<script src="/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#result").tablesorter({ sortList: [[0, 1]] });
        });
    </script>
</head>		



		<%= link_to "Создать эталонный вариант семантической сети", new_semantictest_path%><br/>
<table class="table table-hover" border="1"> 
<caption ><b>Эталонные варианты семантических сетей</b></caption>
<thead>
<tr >
	<th>Название</th>
	<th>Редактирование</th>
    <th>Активен</th>
	
    
</tr>
</thead>
<% @etalons.each do |test| %>
   
   				 <tr>
					 <td><%= test.name %></td>
					 <td><%= link_to  "Редактировать", semantictest_path(test)%></td>
                     <td>
                       <%if test.check%>
                            <input type="checkbox" id="<%= test.id%>" onClick="show_alert(<%= test.id%>)"  checked="">
                       <%else%>
                            <input type="checkbox" id="<%= test.id%>" onClick="show_alert(<%= test.id%>)" >

                     <%end%>
                          </td>
				 </tr>


			   

      
    
  <% end %>
  
</table>
<tr>
  </tr>



<script>

    function setStatus(status, id)
    {
        if (status == "True")
        {
            document.getElementById(id).prop('checked', true);
        }else
        {
            document.getElementById(id).prop('checked', false);
        }
    }

    function show_alert(id)
    {
        if (document.getElementById(id).checked)
        {
            alert("Флажок установлен" + id); }
    else
        {
            alert("Флажок не установлен" + id)
        }


        $.ajax(
        {
            type: "POST",
                url: "<%= semantictests_setEtalonCheck_path%>",
                data: {"id" : id,  "check" : document.getElementById(id).checked},
                success: function(msg)
                {
                    alert(msg)
                }

        });

    }

</script>
