



<% if @showmenu == true %>
    <%= form_tag semantictests_results_path, method: "GET" do %>
        <%= label_tag nil, "С:" %>
        <%= date_field :date, :from, value: @date_from.to_s %>
        <%= label_tag nil, "По:" %>
        <%= date_field :date, :to, value: @date_to.to_s %>
        <%= label_tag nil, "Группа:" %>
        <%= select_tag :group,
                       options_from_collection_for_select(@groups, "id", "number"),
                       include_blank: true%>
        <%= submit_tag "Найти" %>
    <% end %>
<% end %>

<table class="table table-hover" border="1"> 

  <caption ><b>Результаты</b></caption>
  <thead>
  <tr class ="center">
    <th>ФИО</th>
    <th>Оценка</th>
    <th>Ситуация</th>
    <th>Дата</th>
    <th>Группа</th>
    <th></th>

  </tr>
  </thead>
  <% @results.each do |test| %>
      
      <tr >
        <td><%= test.student.fio %></td>
        <td><%= test.rating %></td>
        <td>
	<% if test.etalon!=nil %>
		<%= link_to  test.etalon.name, semantictest_path(test.etalon)%></td>
        <% end %>
	<td><%= test.created_at.to_date %></td>
        <td><%= test.student.group.number %></td>
        <td><%= link_to  "Удалить", semanticanswer_path(test), method: :delete , data: { confirm: 'Are you sure?' }%></td>



      </tr>
  <% end %>
</table>
