<%= form_tag("authentificate", method: "POST") do %>
  <%= hidden_field_tag(:path, @path) %>
  <table class="login">
    <tr>
      <td><span class="auth">Аутентификация</span></td>
    </tr>
    <tr>
      <td><%= text_field_tag(:login, nil, autofocus: true,
                             placeholder: "Login", required: true ) %></td>
    </tr>
    <tr>
      <td><%= password_field_tag(:pass, nil, placeholder: "Password",
                                 required: true) %></td>
    </tr>
    <tr>
      <td><%= submit_tag("Login") %></td>
    </tr>
  </table>
<% end %>
