<% content_for(:head) do %>

	<title>Редактирование задания</title>
  <script>
    SAnswerData = <%= @task.s_answer.answer.html_safe %>;
  </script>
	<%= javascript_include_tag "BNF.js" %>
	<%= javascript_include_tag "G_answer.js" %>
  <%= javascript_include_tag "S.js" %>
  <%= javascript_include_tag "S_admin.js" %>
  <%= stylesheet_link_tag "reset.css" %>
  <%= stylesheet_link_tag "S.css" %>
	<%= stylesheet_link_tag "G_answer.css" %>
	<%= stylesheet_link_tag "BNF.css" %>

<% end %>

<br/>
<button onclick="GloadTask()">Обновить предложения в компоненте G</button>
<br/>
<%= form_tag(task_path(@task), method: "PUT") do %>
  <div id="task">
  <span>Текст задания:</span><br/>
  <%= text_area_tag('sentences', @task.sentence1 + "\n" +
                    @task.sentence2 + "\n" + @task.sentence3,
                    size: "200x3") %>
  <br/>
  </div>
  <%= render 'v_edit' %>
  <%= render 'g_edit' %>
  <%= render 's_edit' %>
  <br/>
  <input type="submit" onmousedown="sendAnswer();" />
<% end %>
<%= form_tag(task_path(@task), method: "DELETE") do %>
  <input type="submit" value="Удалить задание" />
<% end %>

