<% content_for(:head) do %>

  <title>Редактирование задания</title>
  <script>
    SAnswerData = <%= @task.s_answer.answer.html_safe %>;
  </script>
  <%= javascript_tag "var currentGAnswer;
    function getGAnswer()
    {
        currentGAnswer = #{@gans};
    }"
  %>

  <%= javascript_include_tag "BNF.js" %>
  <%= javascript_include_tag "GLib.js" %>
  <%= javascript_include_tag "G_answer.js" %>
  <%= javascript_include_tag "S.js" %>
  <%= javascript_include_tag "S_admin.js" %>
  <%= javascript_include_tag "BNF.js" %>
  <%= stylesheet_link_tag "reset.css" %>
  <%= stylesheet_link_tag "S.css" %>
  <%= stylesheet_link_tag "GLib.css" %>
  <%= stylesheet_link_tag "G_answer.css" %>
  <%= stylesheet_link_tag "BNF.css" %>
  <%= stylesheet_link_tag "tasks" %>

<% end %>

<br/>
<%= form_tag(task_path(@task), method: "PUT") do %>
  <div id="taskEditor">
  <%= tag(:input, :type => "hidden", :id => "Ganswer_content", :name => "Ganswer") %>
  <%= tag(:input, :type => "hidden", :id => "Sanswer_content", :name => "Sanswer") %>
  <div id="task">
  <span>Текст задания:</span><br/>
  <%= text_area_tag('sentences', @task.sentence1 + "\n" +
                    @task.sentence2 + "\n" + @task.sentence3,
                    size: "150x3") %>
  <input style="font-size: 24pt; bottom: 9pt; position: relative;" onclick="componentGInit(false)" type="button" value="Обновить предложения в компонентах G и S" /><br/>
  <br/>
  </div>
  <%= render 'v_edit' %>
  <br/>
  <%= render 'g_edit' %>
  <br/>
  <%= render 's_edit' %>
  <br/>
  <input type="submit" onmousedown="sendAnswer();" />
  </div>
<% end %>
<%= form_tag(task_path(@task), method: "DELETE") do %>
  <input type="submit" value="Удалить задание" />
<% end %>

