<% content_for(:head) do %>
	<%= javascript_include_tag "G_answer.js" %>
	<%= stylesheet_link_tag "G_answer.css" %>
	<title>Редактирование задания</title>
	<%= javascript_include_tag "BNF.js" %>
	<%= stylesheet_link_tag "BNF.css" %>
<% end %>

<br/>
<%= form_tag(task_path(@task), method: "PUT") do %>
  <%= tag(:input, :type => "hidden", :id => "Ganswer_content", :name => "Ganswer") %>
  <div id="task">
  <span>Текст задания:</span><br/>
  <%= text_area_tag('sentences', @task.sentence1 + "\n" +
                    @task.sentence2 + "\n" + @task.sentence3,
                    size: "200x3") %>
  <br/>
  </div>
  <%= render 'v_edit' %>
  <br/>
  <%= render 'g_edit' %>
  <br/>
  <input type="submit" onclick="sendAnswer()" />
<% end %>
<%= form_tag(task_path(@task), method: "DELETE") do %>
  <input type="submit" value="Удалить задание" />
<% end %>

