<% content_for(:head) do %>

	<title>Редактирование задания</title>
	<%= javascript_include_tag "BNF.js" %>
	<%= javascript_include_tag "G_answer.js" %>
	<%= stylesheet_link_tag "G_answer.css" %>
	<%= stylesheet_link_tag "BNF.css" %>
<% end %>

<%= form_tag(task_path(@task), method: "PUT") do %>
  <div id="task">
  <span>Текст задания:</span><br/>
  <%= text_area_tag('sentences', @task.sentence1 + "\n" +
                    @task.sentence2 + "\n" + @task.sentence3,
                    size: "200x3") %>
  <br/>
  </div>
  <%= render 'v_edit' %>
  <br/>
  <input type="submit" />
<% end %>
<%= form_tag(task_path(@task), method: "DELETE") do %>
  <input type="submit" value="Удалить задание" />
<% end %>
