<% content_for(:head) do %>

	<title>Редактирование задания</title>
	<%= stylesheet_link_tag 'v_editor.css' %>
<% end %>

<div id="task">
	<span>Текст задания:</span><br/>
	<% if @task != nil %>
		<span><%= @task.sentence1  %></span><br/>
		<span><%= @task.sentence2  %></span><br/>
		<span><%= @task.sentence3  %></span><br/>
	<% else %>
		<span>Task was not found!!!</span>
	<% end %>
</div>
<br/>
<form method="POST" action="update">
	<%= render 'v_edit' %>
	<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
	<br/>
	<input type="submit" />
</form>

