
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <!--TODO: Что это?-->
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "admin_tools", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield(:head) %>


  <%= csrf_meta_tags %>
<script type="text/javascript" src="/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/table.css">
<script src="/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#result").tablesorter();
        });
    </script>
</head>

<span>ФИО:</span> <%= @student.fio %> <br/>
<span>Группа:</span> <%= @student.group.number %> <br/>


<table class="table table-hover" style="border 1px;"> 
<caption ><b>Результаты, Компонент выявления уровня умений обучаемого моделировать простейшие ситуации при помощи Фреймов</b></caption>
<thead>
<tr >
    <th>Номер Варианта</th>
    <th>Оценка</th>
    <th>Дата</th>
</tr>
</thead>
<% @student.studentframes.each do |test| %>
 <tr >
   <td><%=  test.etalonframe_id%></td>
   <td><%= test.result%></td>
   <td><%=test.updated_at.to_date.inspect%></td>
 </tr>    
  <% end %>
</table>


<table class="table table-hover"> 
<caption ><b>Результаты, Компоненты V G S</b></caption>
<thead>
<tr >
    <th>Задание</th>
    <th>Оценка V</th>
    <th>Оценка G</th>
    <th>Оценка S</th>
    <th>Оценка Общая</th>
    <th>Дата</th>
</tr>
</thead>
<% @student.results.each do |result| %>
 <tr >
	 <td><%= link_to "Задание ##{result.task.id}", result_path(result) %></td>
	 <td><%=  result.v_result.mark%></td>
	 <td><%=  result.g_result.mark%></td>
	 <td><%=  result.s_result.mark%></td>
	 <td><%=  result.mark%></td>
	 <td><%=  result.updated_at.to_date.inspect%></td>
 </tr>    
  <% end %>
</table>

<table class="table table-hover" style="border 1px;"> 
<caption ><b>Результаты, Компонент выявления уровня умений обучаемого моделировать простейшие ситуации при помощи Семантических сетей</b></caption>
<thead>
<tr >
    <th>Ситуация</th>
    <th>Оценка</th>
    <th>Дата</th>
</tr>
</thead>
<% @student.semanticnetworks.each do |test| %>
 <tr >
   <td><%=  test.etalon.name%></td>
   <td><%= link_to  test.rating, semanticanswer_path(test)%></td>
   <td><%=test.updated_at.to_date.inspect%></td>
 </tr>    
  <% end %>
</table>

<%= form_tag(students_passupdate_path , method: "POST") do %>
    <div id="line">
      <%= hidden_field_tag(:id, value=@student.id)%>
      <%= label_tag(name="Новый пароль: " )%>
      <%= text_field_tag(:newpass, "") %>
      <%= submit_tag("Обновить") %>
    </div>
<% end %>
