<span>ФИО:</span> <%= @student.fio %> <br/>
<span>Группа:</span> <%= @student.group.number %> <br/>
<strong>Результаты:</strong></br>
<% @student.results.each do |result| %>
  <br/>
  <%= content_tag :span, "Задание: "%>
  <%= link_to "Задание ##{result.task.id}", result_path(result) %><br/>
  <%= content_tag :span, "Компонент V: #{result.v_result.mark}"  %>
  <%= content_tag :span, "Компонент G: #{result.g_result.mark}"  %>
  <%= content_tag :span, "Компонент S: #{result.s_result.mark}"  %><br/>
  <%= content_tag :span, "Оценка: #{result.mark}" %> <br/>
  <%= content_tag :span, "Дата: #{result.updated_at.to_date.inspect}"  %><br/>
  <br/>
<% end %>
<% @student.semanticnetworks.each do |semantic| %>
<br/>
<%= content_tag :span, "Semm: #{semantic.rating}"  %>
<br/>
<% end %>