
<head>

<script type="text/javascript" src="/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/table.css">
<script src="/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#result").tablesorter();
        });
    </script>
</head>
<span>ФИО:</span> <%= @student.fio %> <br/>
<span>Группа:</span> <%= @student.group.number %> <br/>
<strong>Результаты:</strong></br>
<% @student.results.each do |result| %>
  <br/>
  <%= content_tag :span, "Задание: "%>
  <%= link_to "Задание ##{result.task.id}", result_path(result) %><br/>
  <%= content_tag :span, "Компонент V: #{result.v_result.mark}"  %>
  <%= content_tag :span, "Компонент G: #{result.g_result.mark}"  %>
  <%= content_tag :span, "Компонент S: #{result.s_result.mark}"  %><br/>
  <%= content_tag :span, "Оценка: #{result.mark}" %> <br/>
  <%= content_tag :span, "Дата: #{result.updated_at.to_date.inspect}"  %><br/>
  <br/>
<% end %>

<table id="result"> 
<caption class="top"><b>Результаты, Компонент выявления уровня умений обучаемого моделировать простейшие ситуации при помощи Семантических сетей</b></caption>
<thead>
<tr class ="center">

    <th>Ситуация</th>
    <th>Оценка</th>
    <th>Дата</th>
    
</tr>
</thead>
<% @student.semanticnetworks.each do |test| %>
   
   				 <tr class ="center">

					 <td><%=  test.etalon.name%></td>
					 <td><%= link_to  test.rating, semanticanswer_path(test)%></td>
					 <td><%=test.updated_at.to_date.inspect%></td>
					 
				 </tr>


			   

      
    
  <% end %>
</table>