<div class="col-md-12 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Упорядочивание графических изображений</h4>
    </div>
    <div class="panel-body">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#B" data-toggle="tab">Использование</a>
        </li>
      </ul>
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active" id="B">
            <div class="well well-sm">
              <table class="table table-hover" style=" font-size: 14px; " id="table">
                <colgroup>
                  <col span="1" style="width: 50%;">
                  <col span="1" style="width: 50%;">
                </colgroup>
                <thead>
                <tr>
                  <th colspan="4">
                    <center>
                      <button class="btn btn-default task">
                        <small>
                          <%= @utz.theme %>
                        </small>
                      </button>
                    </center>
                  </th>
                </tr>
                <tr>
                  <th colspan="4">
                    <center>
                      <button class="btn btn-default task">
                        <small>
                          <%= @utz.goal %>
                        </small>
                      </button>
                    </center>
                  </th>
                </tr>
                </thead>
                <tbody id="usage_rows">
                    <% @pictures.each do |pic| %>
                        <tr class="drag">
                          <td colspan="2">
                            <center>
                                <%= image_tag pic.src, class: 'preview-img', id: pic.id %>
                            </center>
                          </td>
                        </tr>
                    <% end %>
                </tbody>
                <tfoot>
                <tr>
                  <td>
                    <button class="btn btn-default settings_button" style="width: 100%">
                      <small>
                        <a href="#" id="task_hint">
                          <%= @utz.hint.blank? ? 'нет' : @utz.hint %>
                        </a>
                      </small>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default settings_button" id="task_done" style="width: 100%">
                      <small>
                        <a href="#">Готово</a>
                      </small>
                    </button>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag :utz_id, @utz.id %>
<%= link_to 'Назад', utz_path %>

<% content_for :head do %>
    <%= stylesheet_link_tag    "ytz6_usage", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "Sortable.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "ytz6_usage", "data-turbolinks-track" => true %>
<% end %>