  <tr data-timetable=<%=timetable.id%>>
    <% if @user.role=='admin' %>
        <td class="num">
          <%=timetable.group_number %><br>
          <%= link_to to_json_timetable_path(timetable), remote: true do %>
              <span class="to_json">JSON</span>
          <% end %><br>
          <a class="from_json">Вставка</a>
        </td>
    <% end %>
    <% events = timetable.events %>
    <% (Date.new(@date.year, @date.month, 01)..Date.new(@date.year, @date.month, -1)).each do |date| %>
        <% event = nil %>
        <% events.each do |tmp| %>
            <% if tmp.date == date %>
              <% event = tmp %>
            <% end %>
        <% end %>
        <td class="events
        <% if date.today? %>
          , today
        <% elsif date.sunday? || date.saturday? %>
          , weekend
        <% end %>
        "
          data-date="<%= date %>">
        <% if event != nil %>
            <%= render event %>
        <% end %>
      </td>
    <% end %>
  </tr>