  <tr data-timetable=<%=timetable.id%>>
    <td class="num">
      <%=timetable.group.number%><br>
      <%= link_to to_json_timetable_path(timetable), remote: true do %>
          <span class="to_json">Сохранить</span>
      <% end %><br>
      <a class="from_json">Правка</a>
    </td>
    <% for i in 1..16 %>
        <td class="events" data-week="<%=i%>">
          <% event = timetable.events.find_by(week: i)%>
          <% if event!=nil %>
              <%= render event %>
          <%end%>
        </td>
    <%end%>
  </tr>
