<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- <link rel="stylesheet" type="text/css" href="../timetable/main.css"> -->
  <%= stylesheet_link_tag 'timetables' %>
  <%= javascript_include_tag 'timetables', 'jquery' %>
  <!--<script src="http://code.jquery.com/jquery-2.1.4.js"></script>-->
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 
</head>
<body>
<button id="add_groups">Добавить группы</button>
<table>
  <tr>
    <th></th>
    <th class="num">1</th>
    <th class="num">2</th>
    <th class="num">3</th>
    <th class="num">4</th>
    <th class="num">5</th>
    <th class="num">6</th>
    <th class="num">7</th>
    <th class="num">8</th>
    <th class="num">9</th>
    <th class="num">10</th>
    <th class="num">11</th>
    <th class="num">12</th>
    <th class="num">13</th>
    <th class="num">14</th>
    <th class="num">15</th>
    <th class="num">16</th>
  </tr>
</table>

  <div class="form" id="events_form">
        <span class="close" id="events_close">&times</span>
    <p>Выберите тест на проверку знаний:</p>
    <%= form_for(@event, remote: true) do |f| %>
      <p>
        <%= f.label :test_id %><br>
        <%= f.text_field :test_id %>
      </p>
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>
      <p class="event_hidden">
        <%= f.label :timetable_id %><br>
        <%= f.text_field :timetable_id %>
      </p>
      <p class="event_hidden">
        <%= f.label :week %><br>
        <%= f.text_field :week %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
    </div>
    <div class="form" id="groups_form">
      <span class="close" id="groups_close">&times</span>
      <button id="check_all">Выделить все</button> <button id="uncheck_all">Снять выделение</button>
      <%= form_tag('/timetables/add', remote: true) do %>
          <div style="width: 290px; height: 270px; overflow-y: scroll;">
          <% @timetables.each do |timetable| %>
              <p id="show_<%=timetable.id%>">
              <%= check_box("show", timetable.id) %>
              <%= label("show", timetable.id, timetable.group.number) %>
              </p>
          <%end%>
          </div>
          <%= submit_tag ("Добавить")%>
      <% end %>

  </div>
  <div id="overlay"></div>
</body>
</html>