<% content_for(:head) do %>
  <title>Мониторинг</title>
<% end %>
Ведомость
<%= form_tag('/statistics/statements', class: "form-control", style: 'height: fit-content;') do -%>
  <div class="form-group">
    <%= label_tag 'group_ved', 'Группа:' %>
    <%= select_tag "group_ved", options_from_collection_for_select(@groups, "id", "number") %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Сгенерировать отчет' %>
  </div>
<% end %>

<% if @students.present? %>
  <%
    comp_codes = @competences_codes.count
    comp_codes = comp_codes == 0 ? 1 : comp_codes
  %>
  <table class="iksweb">
    <tbody>
      <tr>
        <th colspan=<%= 15 + comp_codes %>> Итоговые ведомости семестровой успеваемости группы <%= @students.first["group"] %>, полученные с помощью обучающих веб-ИЭС</th>
      </tr>
      <tr>
        <th rowspan="4">№</th>
        <th rowspan="4">ФИО</th>
        <th colspan=<%= 8 + comp_codes %>>Компетентносно-ориентированная модель обучаемого</th>
        <th rowspan="4">Реферат</th>
        <th rowspan="4">Доп. зачетные единицы</th>
        <th rowspan="4">Зачет</th>
        <th rowspan="4">Прогноз экзамен</th>
        <th rowspan="4">Экзамен</th>
      </tr>
      <tr>
        <th colspan="4">Модель знаний обучаемого</th>
        <th colspan="4">Модель умений обучаемого</th>
        <th colspan=<%= comp_codes %>>Модель текущего уровня компетенций обучаемого обучаемого</th>
      </tr>
      <tr>
        <th colspan="2">Результаты веб-тестирования</th>
        <th colspan="2">М1зн</th>
        <th colspan="4">Контрольные работы</th>
        <% first_code = @competences_codes.delete_at(0) %>
        <th rowspan="2"><%= first_code.nil? ? '-' : first_code %></th>
        <% @competences_codes.each do |code| %>
          <th rowspan="2"><%= code %></th>
        <% end %>
        <% @competences_codes << first_code %>
      </tr>
      <tr>
        <th>8-я неделя</th>
        <th>15-я неделя</th>
        <th>Тема/подтема</th>
        <th>Коэффициент</th>
        <th>Прямой вывод</th>
        <th>Обратный вывод</th>
        <th>Семантические сети</th>
        <th>Фреймы</th>
      </tr>
      <% @students.each_with_index do |student, index| %>
        <tr>
          <%
            pa = student['problem_areas']
            pa_count = pa.count
            pa_count = pa_count == 0 ? 1 : pa_count
          %>
          <td rowspan=<%= pa_count %>><%= index+1 %></td>
          <td rowspan=<%= pa_count %>><%= student['fio'] %></td>
          <% if (student['tests'][-2]['year'] rescue 0) == (student['tests'][-1]['year'] rescue 1) %>
            <td rowspan=<%= pa_count %>><%= student['tests'][-2]['mark'] %></td>
            <td rowspan=<%= pa_count %>><%= student['tests'][-1]['mark'] %></td>
          <% else %>
            <td rowspan=<%= pa_count %>><%= @max_year == student['tests'][-1]&.dig('year') ? student['tests'][-1]['mark'] : '-' %></td>
            <td rowspan=<%= pa_count %>>-</td>
          <% end %>
          <% fpa = pa.delete_at(0) %>
          <% if fpa %>
            <td><%= fpa['text'] %></td>
            <td><%= fpa['mark'] %></td>
          <% else %>
            <td>-</td>
            <td>-</td>
          <% end %>
          <td rowspan=<%= pa_count %>><%= student['forward'] rescue '-' %></td>
          <td rowspan=<%= pa_count %>><%= student['backward'] rescue '-' %></td>
          <td rowspan=<%= pa_count %>><%= student['semantics'] rescue '-' %></td>
          <td rowspan=<%= pa_count %>><%= student['frames'] rescue '-' %></td>
          <% ccs = student['competence_coverages'] %>
          <% @competences_codes.each do |code| %>
            <% cc = ccs.find{ |el| el['text'] == code } %>
            <td rowspan=<%= pa_count %>><%= cc['mark'] rescue '-' %></td>
          <% end %>
          <td rowspan=<%= pa_count %>></td>
          <td rowspan=<%= pa_count %>></td>
          <td rowspan=<%= pa_count %>></td>
          <td rowspan=<%= pa_count %>></td>
          <td rowspan=<%= pa_count %>></td>
        </tr>
        <% pa.each do |_pa| %>
          <tr>
            <td><%= _pa['text'] rescue '-' %></td>
            <td><%= _pa['mark'] rescue '-' %></td>
          </tr>
        <% end %>
      <% end %>
      
    </tbody>
  </table>
<% end %>