<% content_for(:head) do %>
  <title>Группа <%= @group.number %></title>
<% end %>

<%= form_tag group_path, method: "PUT" do %>
  <%= label_tag :number, "Номер группы:" %>
  <%= text_field_tag :number, @group.number %><br/>
  <%= submit_tag "Сохранить" %>
<% end %>

<%= form_tag group_students_path(@group), method: "POST" do %>
  <%= display_standard_table([{name: "fio", display_name: "ФИО"},
                              {name: "login", display_name: "Логин"},
                              {name: "delete", display_name: "Удалить"}], @students) %>
<% end %>
