<% content_for(:head) do %>
  <title>Группа <%= @group.number %></title>
<% end %>

<%= content_tag :span, "Номер группы:" %>
<%= content_tag :span, @group.number %><br/>

<%= display_standard_table([{name: "fio", display_name: "ФИО"},
                            {name: "login", display_name: "Логин"}



                           ], @students) %>
<% if @showmenu == true %>
  <%= link_to "Сгенерировать пароли", pass_gen_path, target: "_blank" %>
  <%= link_to "Результаты группы", report_gen_path %>
  <%= link_to "Ведомость", group_statements_path %>
<% end %>
