
<style>
	table, th, td {
	   border: 1px solid black;
	}
</style>

<table>
<tr>
    <th>Неделя #</th>
    <th>Знания</th>
    <th>Умения</th>
    <th>Психпортет</th>
</tr>

<% for i in 1..(@schedule.duration) %>
	<tr>
		<td><%= i %> <%= (i == Schedule.current_week ? "*" : "")%></td>
		<td>
			<% @schedule.find_recs(i, "pending-knowledge").each do |kb| %>
				<%=kb %>[<%=ExtensionDatabase.get_task_description(ExtensionDatabase::ExtensionType::Knowledge, kb) %>],
			<% end %>
		</td>
		<td>
			<% @schedule.find_recs(i, "pending-skills").each do |kb| %>
				<%=kb %>[<%=ExtensionDatabase.get_task_description(ExtensionDatabase::ExtensionType::Skill, kb) %>],
			<% end %>
		</td>
		<td>
			<% @schedule.find_recs(i, "pending-psycho").each do |kb| %>
				<%=kb %>[<%=ExtensionDatabase.get_task_description(ExtensionDatabase::ExtensionType::Psycho, kb) %>],
			<% end %>
		</td>
	</tr>
<% end %>

</table>
