<h3>Изменить расписание</h3>

<%= form_for :schedule, url: schedule_path(@schedule), method: :patch do |f| %>

<% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@schedule.errors.count, "error") %> prohibited
        this schedule from being saved:
      </h2>
      <ul>
        <% @schedule.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br>Группа <%= @schedule.group %> <br>

<table>
<tr>

<th>&nbsp</th>
<th>&nbsp</th>
<th>Неделя#</th>

</tr>
<tr>  
    <td><%= f.label :Психотест %><td> 
    <td><%= f.text_field :psyho, :maxlength=>"2" %><td>
  
</tr>
<tr>  
    <td><%= f.label :Знания %><td> 
    <td><%= f.text_field :knowledge1, :maxlength=>"2" %>&nbsp 
        <%= f.text_field :knowledge2, :maxlength=>"2" %><td>
  
</tr> 
<tr>  
    <td><%= f.label :Семантические_сети_Фреймы %><td> 
    <td><%= f.text_field :frame_sem, :maxlength=>"2" %><td>
  
</tr> 
<tr>  
    <td><%= f.label :Прямой_обратный_выводы %><td>
    <td><%= f.text_field :vivod, :maxlength=>"2" %><td>
  
</tr>
</table>
  
    <%= f.submit %>
  
<% end %>
<%= link_to 'Назад', schedules_path %>
