<div class='events' data-event="<%=event.id%>">
  <%=case event.action
       when "extract-knowledge"
          "Выявить уровень знаний"
       when "extract-skill"
         "Выявить уровень умений"
       when "psycho"
         "Психологическое тестирование"
       else
         "Другое"
         end %><br>
  <% if event.task != nil %>
      <%=KaTopic.where(id: event.task).take.text[0,22]+'...'%>
  <% end %><br>
  <%=event.name%>
  <%= link_to edit_event_path(event), remote: true do %>
      <span class="edit">e</span>
  <% end %>
  <%= link_to event, remote: true, method: :delete,  data: { confirm: 'Удалить?' } do %>
      <span class="delete"><b>&times</b></span>
  <% end %>
</div>