<span class="close" id="events_close">&times</span>
<p>Выберите тест на проверку знаний:</p>
<%= form_for(@event, remote: true) do |f| %>
    <p>
      <%= f.label :test_id, 'Тип теста:'%>
      <%= f.collection_select :test_id, @tips, :id, :name, include_blank: true %>
    </p>
    <script>
      jQuery(function () {
        var works;
        works = $('#event_name').html();
        return $('#event_test_id').change(function () {
          var options, tip;
          tip = $('#event_test_id :selected').text();
          options = $(works).filter("optgroup[label='" + tip + "']").html();
          if (options) {
            return $('#event_name').html(options);
          } else {
            return $('#event_name').empty();
          }
        });
        return
      });
    </script>
    <p>
      <%= f.label :name, 'Тест:'%>
      <%= f.grouped_collection_select :name, @tips, :works, :name, :title, :title, include_blank: true %>
    </p>

    <p id="event_hidden">
      <%= f.label :timetable_id %>
      <%= f.text_field :timetable_id %>
      <%= f.label :week %>
      <%= f.text_field :week %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>