<span class="close" id="events_close">&times</span>
<p>Выберите тест на проверку знаний:</p>
<%= form_for(@event, remote: true) do |f| %>
    <p>
      <%= f.select(:action, options_for_select(@actions))  %>
    </p>
    <p>
      <%= f.collection_select(:task, @tasks.all, :id, :text) %>
    </p>

    <p>
      <%= f.label :name, 'Краткое описание:'%>
      <%= f.text_field :name %>
    </p>

    <p id="event_hidden">
      <%= f.label :timetable_id %>
      <%= f.text_field :timetable_id %>
      <%= f.label :week %>
      <%= f.text_field :week %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>