<% content_for(:head) do %>

  <title>Синтаксический компонент</title>
  <%= stylesheet_link_tag "G.css" %>
  <%= stylesheet_link_tag "BNF.css" %>
  <%= javascript_include_tag "BNF.js" %>
  <%= javascript_include_tag "G.js" %>
<% end %>
<div id="global">
	<div id="help" width="70%">
		<img src="/help_icon.gif" id="help" class="icon" onmouseover="showHelp()" onmouseout="hideHelp()"></img>
		<div class="dynhelp"><div id="dynamicHelp"></div><div id="error"></div></div>
		</div>
		<div id="task" width="70%">
		</div>
		<div id="buttons" width="30%">
		</div>
		<div id="secondTask">
		</div>
		<div width="100%">
	</div>
</div>
<div id="answer_send">
	<form id="answer" method="POST" action="<%= next_component_path %>" >
		<%= tag(:input, :type => "hidden", :id => "answer_content", :name => "g_answer") %>
		<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
		<%= tag(:input, :type => "hidden", :name => "component", :value => "G") %>
		<input type="submit" onmousedown="sendAnswer();" />
	</form>
</div>
