<div class="col-md-12 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Заполнение пропусков в тексте</h4>
    </div>
    <div class="panel-body">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#B" data-toggle="tab">
            Использование
          </a>
        </li>
      </ul>
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active" id="B">
            <div class="well well-sm">
              <h3>Заполните пропуски</h3>
              <div class="filling-content">
                <% @utz.elements.each do |element| %>
                  <% if element.is_hidden %>
                    <input class="hidden-filling" data-check="<%= element.text %>" placeholder="Введите пропущенное"/>
                  <% else %>
                    <span><%= element.text %></span>
                  <% end %>
                <% end %>
              </div>
              <br/>
              <button class="btn btn-default settings_button" id="done">Проверить</button>
              <button data-text="<%= @utz.hint %>" class="btn btn-default settings_button" id="hint">Подсказка</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Назад', utz_path %>

<% content_for :head do %>
  <%= stylesheet_link_tag    "ytz5_usage", media: "all", "data-turbolinks-track" => true %>
<% end %>
<%= javascript_include_tag "ytz5_usage", "data-turbolinks-track" => true %>