<!--sidebar-->
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <% if @user.role == 'admin' %>
        <ul class="nav" id="pt_tests">
          <li>
            <%= link_to '«Свободная сортировка слов» В.А. Колги', free_sort_objects_personality_tests_path, id: 'pt_test_free_sort_objects' %>
          </li>
          <li>
            <%= link_to '«Сравнение похожих рисунков» Дж. Кагана', compare_similar_drawings_personality_tests_path, id: 'pt_test_compare_similar_drawings' %>
          </li>
          <li>
            <%= link_to '«Включенные фигуры» Дж. Уиткина', included_figures_personality_tests_path, id: 'pt_test_included_figures' %>
          </li>
          <%= render partial: 'personality_tests/list_test', collection: PersonalityTest.all, as: 'test', locals: {admin: true} %>
          <!--TODO: удалить и поменять в js на append-->
          <li id="pt_add_test"></li>
        </ul>

        <ul class="nav">
          <li>
            <%= link_to 'Создать новый тест', new_personality_test_path, remote: true %>
          </li>

          <li>
            <%= link_to 'Редактировать черты характера', personality_traits_path %>
          </li>

          <li>
            <%= link_to 'Редактировать психологические портреты', personalities_path %>
          </li>
        </ul>

        <ul class="nav">
            <li>
              <%= link_to 'Результаты', results_personality_tests_path %>
            </li>
            <li>
              <%= link_to 'Вернуться в меню', root_path %>
            </li>
            <% if session[:planning_task_id] != nil %>
              <li>
                <%= link_to 'Завершить задачу планировщика', :action => "commit"%>
              </li>
            <% end %>

        </ul>
    <% else %>
        <ul class="nav" id="pt_tests">
          <li>
            <%= link_to '«Свободная сортировка слов» В.А. Колги', free_sort_objects_personality_tests_path, id: 'pt_test_free_sort_objects' %>
          </li>
          <li>
            <%= link_to '«Сравнение похожих рисунков» Дж. Кагана', compare_similar_drawings_personality_tests_path, id: 'pt_test_compare_similar_drawings' %>
          </li>
          <li>
            <%= link_to '«Включенные фигуры» Дж. Уиткина', included_figures_personality_tests_path, id: 'pt_test_included_figures' %>
          </li>
          <%= render partial: 'personality_tests/list_test', collection: PersonalityTest.where.not(id: @user.student.try(:passed_personality_tests).ids) , as: 'test', locals: {admin: false} %>
        </ul>

        <ul class="nav">
            <li>
              <%= link_to 'Результаты', results_personality_tests_path %>
            </li>
            <li>
                <%= link_to 'Вернуться в меню', root_path %>
            </li>
        </ul>
    <% end %>
</div><!--/sidebar-->