<% if @user.role == 'admin' %>
    <div class="col-sm-10">
        <% Group.all.each do |group| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <%= link_to group.number, '#pt_group_' + group.id.to_s, data: {toggle:'collapse'}, class: 'a-title-text' %>
              </h4>
            </div>
            <div id="pt_group_<%= group.id %>" class="panel-collapse collapse">
              <div class="panel-body">
                <% Student.where(group_id: group.id).order(:fio).each do |stud| %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <%= link_to stud.fio, '#pt_stud_' + stud.id.to_s, data: {toggle:'collapse'}, class: 'a-title-text' %>
                        </h4>
                      </div>
                      <%= render partial: 'student_results', locals: {stud: stud} %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
<% else %>
    <div class="col-sm-10">
      <h1>Ваши результаты:</h1>
      <% cog_styles = @user.student.find_cognitive_styles %>
      <% if cog_styles.present? %>
        <h1>Когнитивные стили студента:</h1>
        <% if cog_styles[:field] == :independence %>
          <h2>Поленезависимый</h2>
          <p>
            Представители поленезависимого типа легко преодолевают влияние перцептивного поля, почти безошибочно выделяя в нём отдельные элементы, что формирует стратегию опоры в решении познавательных задач на свой опыт при критическом отношении к непосредственным наглядным впечатлениям.
          </p>
        <% else %>
          <h2>Полезависимый</h2>
          <p>
            Представители полезависимого типа испытывают трудности при необходимости детализации и структурирования перцептивной информации, что способствует формированию у них ориентации на непосредственные наглядные впечатления и недооценку своего личного опыта при решении познавательных задач.
          </p>
        <% end %>

        <% if cog_styles[:equivalence] == :narrowness %>
          <h2>Узкий диапазон эквивалентности</h2>
          <p>
            У представителей данного типа формируется аналитический подход к решению познавательных задач, заключающийся в более успешном установлении различий по сравнению со сходствами, предпочтении систематизации данных на основе различий, склонности к последовательным интеллектуальным действиям, и дедуктивному типу мышления
          </p>
        <% else %>
          <h2>Широкий диапазон эквивалентности</h2>
          <p>
            У представителей данного типа формируется синтетический подход к решению познавательных задач, заключающийся в использовании при решении познавательных задач опоры на сходства объектов, интуицию и индуктивный тип мышления.
          </p>
        <% end %>

        <% if cog_styles[:impulsivity_reflexivity] == :impulsivit %>
          <h2>Импульсивность</h2>
          <p>
            Представители импульсивного типа склонны быстро реагировать в ситуации множественного выбора, при этом гипотезы выдвигаются без анализа всех возможных альтернатив.
          </p>
        <% else %>
          <h2>Рефлексивность</h2>
          <p>
            Для представителей импульсивного типа характерен замедленный темп реагирования в ситуации множественного выбора, гипотезы проверяются и многократно уточняются, решение принимается на основе тщательного предварительного анализа признаков альтернативных объектов.
          </p>
        <% end %>
      <% end %>
      <% if @personalities.any? %>
        <h1>Психологический портрет:</h1>
          <% @personalities.each do |personality| %>
              <h2><%= personality.name %></h2>
              <p>
                <%= personality.description %>
              </p>
          <% end %>
      <% else %>
        <p>У вас еще нет результатов</p>
      <% end %>
    </div>
<% end %>