
<% if @showmenu == true %>
    <%= form_tag frameadmin_results_path, method: "GET" do %>
        <%= label_tag nil, "С:" %>
        <%= date_field :date, :from, placeholder: "YYYY-MM-DD", value: @date_from.to_date %>
        <%= label_tag nil, "По:" %>
        <%= date_field :date, :to, placeholder: "YYYY-MM-DD", value: @date_to.to_date %>
        <%= label_tag nil, "Группа:" %>
        <%= select_tag :group,
                       options_from_collection_for_select(@groups, "id", "number"),
                       include_blank: true


                       %>
        <%= submit_tag "Найти" %>
    <% end %>
<% end %>

<table class="table table-hover" border="1"> 
  <caption><b>Результаты</b></caption>
  <thead>
  <tr >
    <th>ФИО</th>
    <th>Оценка</th>

    <th>Ситуация</th>
    <th>Дата</th>
    <th>Группа</th>
    <th>Закончен?</th>
    <th>Время</th>
    <th></th>

  </tr>
  </thead>
  <% @results.each do |test| %>
          <tr>
            <td><%= test.student.fio %></td>
            <td><% res = test.result.to_f.nan? ? test.result : test.result.to_f.round %><%= res %></td>

            <td><%
                nameetalon = ""
                if ( test.etalonframe == nil)
                  nameetalon = "Вариант Удален"
                else
                  nameetalon =    link_to test.etalonframe.name, framestudent_path(test)
                  #nameetalon = test.etalonframe.name
                end
            %>
              <%= nameetalon%>
            </td>
            <td><%= test.created_at.to_date %></td>
            <td><%= test.student.group.number %></td>
            <td><%= test.isfinish?%></td>
            <td><%= (test.created_at.min + 2 > Time.now.min)%></td>
            <td><%= link_to  "Удалить", framestudent_path(test), method: :delete , data: { confirm: 'Вы уверены?' }%></td>
          </tr>
  <% end %>
</table>
