<html>
<body>
<%= render partial: "table"%>

<script>
    function insertTab(o, e)
    {
        var kC = e.keyCode ? e.keyCode : e.charCode ? e.charCode : e.which;
        if (kC == 9 && !e.shiftKey && !e.ctrlKey && !e.altKey)
        {
            var oS = o.scrollTop;
            if (o.setSelectionRange)
            {
                var sS = o.selectionStart;
                var sE = o.selectionEnd;
                o.value = o.value.substring(0, sS) + "\t" + o.value.substr(sE);
                o.setSelectionRange(sS + 1, sS + 1);
                o.focus();
            }
            else if (o.createTextRange)
            {
                document.selection.createRange().text = "\t";
                e.returnValue = false;
            }
            o.scrollTop = oS;
            if (e.preventDefault)
            {
                e.preventDefault();
            }
            return false;
        }
        return true;
    }
</script>
<%= form_tag(frames_translate_path, method: "POST") do %>
    <div id="line">
      <%= text_area_tag(:message, nil, autofocus: true,  rows: 25,  cols: 100, onkeydown: "insertTab(this, event)" ) %>

      <%= submit_tag("SEND") %>

      <%= submit_tag("SAFE") %>

    </div>
<% end %>
<p><textarea id="666" rows="25" cols="65"  name="text"></textarea></p>
Транслированный Фрейм
<%=


    frame = Framedb.find(3).code


    #frame.frame.freme_data.to_json


%>
<br><br><br>
<script>
    var temp = "<%=frame%>".replace(/&quot;/g, '"')

    document.write();
    for (var i = 0; i < JSON.parse(temp).length; i++)
    {
        document.getElementById("666").value =  document.getElementById("666").value + JSON.stringify(JSON.parse(temp)[i], null, 4) + "\n"

    }

    //var FrameObject = JSON.parse(temp)[0]
    //alert (FrameObject.name)

    //var jsonText = JSON.stringify(temp, "\t");
</script >
<br><br><br>Ошибки
<%=
    Framedb.find(3).name
%>



</body>
</html>