
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <!--TODO: Что это?-->
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "admin_tools", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield(:head) %>


  <%= csrf_meta_tags %>
<script type="text/javascript" src="/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/table.css">
<script src="/calendar_kdg.js" type="text/javascript"></script>
<script src="/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#result").tablesorter();
        });
    </script>
<style type="text/css">
   .block1 { 
    float: left;
   }

   .brd {
    border: 1px solid black; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
   }
</style> 
</head>

<span>ФИО:</span> <%= @student.fio %> <br/>
<span>Группа:</span> <%= @student.group.number %> <br/>

<table class="brd">
<caption><b>Проблемные зоны</b></caption>

<% $problem.each do |rec| %>
 <tr >
   <td><%= rec["text"] %></td>
   <td><%= rec["mark"] %></td>
 </tr>    
  <% end %>
</table>
<br>

<table class="table table-hover" style="border: 1px;">
  <caption ><b>Главы ГТ-учебника</b></caption>
  <% $probrecomendate.each do |rec| %>
    <tr >
      <td><%= rec["text"] %></td>
      <td>
        <%= form_tag(outcomes_create_rec_path(@student), method: "post") do %>
          <input type="hidden" name="type" value="ht">
          <input type="hidden" name="text" value="<%= rec["text"] %>">
          <input type="submit" value="Назначить"/>
        <% end %>
      </td>
    </tr>    
  <% end %>
</table>

<table class="table table-hover" style="border: 1px;">
<caption ><b>Учебно-тренировочные задания</b></caption>
<% if $utzrecomendate.empty? %>
    <tr >
      <td> Рекомендаций нет </td>
    </tr> 
  <% else %>
    <% $utzrecomendate.each do |rec| %>
      <tr>
        <td><%= link_to rec["text"], test_utz_question_path(rec["rec_id"].to_i) %></td>
        <td>
          <%= form_tag(outcomes_create_rec_path(@student), method: "post") do %>
            <input type="hidden" name="type" value="ett">
            <input type="hidden" name="text" value="<%= rec["text"] %>">
            <input type="hidden" name="ett_type" value="<%= rec["ett_type"] %>">
            <input type="hidden" name="ett_id" value="<%= rec["ett_id"] %>">
            <input type="submit" value="Назначить"/>
          <% end %>
        </td>
      </tr>    
    <% end %>
  <% end %>
</table>

<table class="table table-hover" style="border: 1px;">
  <caption><b>Компоненты</b></caption>
  <% if $cmp_recomendations.empty? %>
    <tr >
      <td> Рекомендаций нет </td>
    </tr> 
  <% else %>
    <% $cmp_recomendations.each do |rec| %>
      <tr>
        <td>
          <%= link_to rec[:text], rec[:additional]["link"] %>
        </td>
        <td>
          <%= form_tag(outcomes_create_rec_path(@student), method: "post") do %>
            <input type="hidden" name="type" value="cmp">
            <input type="hidden" name="text" value="<%= rec[:text] %>">
            <input type="hidden" name="link" value="<%= rec[:additional]["link"] %>">
            <input type="submit" value="Назначить"/>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<div style="margin-top: 50px; border: 3px solid silver"></div>
<table class="table table-hover" style="border: 1px;">
  <caption><b>Текущий план</b></caption>
  <% if $plane.empty? %>
    <tr >
      <td> Рекомендаций нет </td>
    </tr> 
  <% else %>
    <% $plane.each do |rec| %>
      <tr>
        <td style="padding: 10px">
          <% if rec["type"] == "ht" %>
            Глава ГТ-учебника
          <% elsif rec["type"] == "ett" %>
            УТЗ
          <% elsif rec["type"] == "cmp" %>
            Компонент
          <% end %>
        </td>
        <td style="padding: 10px">
          <%= rec["data"]["text"] %>
        </td>
        <td style="padding: 10px">
           <%= form_tag(outcomes_delrecomendation_path(rec["id"]), method: "get") do %>
            <input type="submit" value="Удалить">
           <% end %>
        </td>
    <% end %>
  <% end %>
</table>

</div>
</div>


