<!DOCTYPE html>
<html>
<head>
  <title>Панель управления АТ-ТЕХНОЛОГИЯ (Администратор)</title>
  <script src="/general/js/jquery.js"></script>
  <script src="/general/functions.js"></script>
  <script src="/js/admin_panel.js"></script>
  <link href="/general/css/jgrowl.css" rel="stylesheet" />
  <script src="/general/js/jgrowl.js"></script>
</head>
<style>
a {
	transition: all 0.3s ease-in-out;
}
 body,td {
 	font-family: "Trebuchet MS"
 }
 #checkFrameDiv {
 	display:none; position:absolute;
 	z-index:9999; width:100%; height:90%;
 	top:0;left:0; background:#fff;
 }
  #checkFrame {
  	display:block;width:100%; height:100%;
  }
	#header {
		display:block; width:auto; height:auto;
		padding:20px; color:#fff;  font-size:24px;
		background: #a90329;
	}
	#forward_menu,#reverse_menu {
		margin:10px;
	}
	#forward_menu table, #reverse_menu table{
		background:#f3efe6;
	}
	#forward_title td, #reverse_title td {
		font-weight:bold;
	}
	a.gradus {
		color:#a90329; margin:20px; display:block;
		font-size:14pt;
	}
	a.gradus:hover {
		color:#000; text-decoration: none;
	}
	.menu_check {
		display: block; width:auto; height:auto; padding:20px; border-radius:10px;
		background: #282824; margin:20px;
		background: -moz-linear-gradient(top,  #282824 0%, #000000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282824), color-stop(100%,#000000));
		background: -webkit-linear-gradient(top,  #282824 0%,#000000 100%);
		background: -o-linear-gradient(top,  #282824 0%,#000000 100%);
		background: -ms-linear-gradient(top,  #282824 0%,#000000 100%);
		background: linear-gradient(to bottom,  #282824 0%,#000000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282824', endColorstr='#000000',GradientType=0 );
		opacity: 1.0;
	}
	.menu_check a {
		color:#fff; font-size:24px; text-decoration:none; border-bottom:1px dashed #fff;
	}
	.menu_check a:hover {
		text-decoration: none; color:#3fb2f0; border-bottom: 1px transparent;
	}
	a.bottom_menu_link {
		display:block; text-decoration: none; padding:10px; width:auto;
		color:#c85614; background:#ead3c6; border-bottom:0px;
	}
	a.menu_link {
		font-size:12px; color:#2787B7; border-bottom:0px;
	}
	.tbl_insert {
		background:#F3EFE6;
	}
</style>
<body style="padding:0px; margin:0px;">
<div id="checkFrameDiv">
	<div align="left" style="padding:5px;">
		<a href="javascript://" onClick="functions.closeEditFrame();">Заркыть окно [x]</a>
	</div>
	<iframe src="" id="checkFrame"></iframe>
</div>
<input id="user_id_now" type="hidden" value="<%= session[:user_id] %>" />
<div id="header" align="left">
	Панель управления АТ-ТЕХНОЛОГИЯ — режим DesignTime
	
</div>
<div align="left">
	
	<div style="float:right;">
<h3 style="margin: 5px;">ФИО: <%=@user.login%> | Группа: <%=@user.login%></h3>
</div>
<a href="/forwards2/results" class="gradus">Результаты</a>
</div>
   <% flash.each do |name, msg| -%>
   <%= content_tag :div, msg, class: name %>
  <% end -%>
<%= yield %>
<a href="/" class="gradus">Главное меню</a>
</body>
</html>
