<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <title>Режим Design Time</title>

  <!--TODO: Что это?-->
  <meta name="generator" content="Bootply" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" id="navbar-head">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
	<% if @user.role == 'admin' && @showmenu == true %>
		<%="Режим Disign Time"%>
	<%else%>
		<%="Режим Run Time"%>
	<%end%>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-center">
 	<li><%= link_to("Расписание", "/schedule") %></li>
	<li><%= link_to("Учебный план", "/timetables") %></li>
	<li> <%= link_to("Группы", groups_path) %></li>
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Результаты <span class="caret"></span></a>
	  <ul class="dropdown-menu">
	    <li><%= link_to("Прямой/обратный вывод", fb_results_path) %></li>
	    <li><%= link_to 'Фреймы',  frameadmin_results_path %></li>
	    <li><%= link_to("Семантические сети", semantictests_results_path) %></li>
	    <li><%= link_to("Лингвистика", results_path) %></li>
	    <li><%= link_to("Психологические тесты", results_personality_tests_path) %></li>
	  </ul>
	</li>
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Задания <span class="caret"></span></a>
	  <ul class="dropdown-menu">
	    <li><%= link_to("Прямой/обратный вывод", adminpanel_path) %></li>
	    <li><%= link_to 'Фреймы',  frameadmin_index_path %></li>
	    <li><%= link_to("Семантические сети", semantictests_path) %></li>
	    <li><%= link_to("Лингвистика", tasks_path) %></li>
	    <li><%= link_to("Психологические тесты", personality_tests_path) %></li>
	    <li><%= link_to("УТЗ", utz_path) %></li>
	  </ul>
	</li>
	<li>
	  <%= link_to("Тестирование", ka_welcome_path) %>
	</li>
	<li>
	  <%= link_to("Рекомендации", outcomes_path) %>
	</li>
  <li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Мониторинг <span class="caret"></span></a>
	  <ul class="dropdown-menu">
      <li><%= link_to("Кластеризация проблемных зон", "/statistics?operation=problem_areas") %></li>
	    <li><%= link_to("Прогноз оценок", "/statistics?operation=marks_prognosis") %></li>
	    <li><%= link_to("Анализ степени достижения целевых компетенций по конкретным курсам/дисциплинам", "/statistics?operation=competence_study") %></li>
	    <li><%= link_to("Анализ степени корреляции умений и знаний по соответствующим темам/подтемам", "/statistics?operation=study_skill") %></li>
	    <!--<li><%= link_to("Расписание", "/statistics?operation=") %></li>
	    <li><%= link_to("Расписание", "/statistics?operation=") %></li>-->
	  </ul>
	</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	
        <li><a>
  <%= form_tag(logout_path, method: "POST") do %>
    <%= hidden_field_tag(:path, request.fullpath) %>
    <%= content_tag(:span, @user.login) %>
    <%= submit_tag("Выход") %>
  <% end %></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <%= link_to 'Компоненты', methodical_materials_path %>
      </li>
	<li>
	  <%= link_to("Методические материалы", methodical_materials_path) %>
	</li>
	<li><a><b>Онтологии</b></a></li>
	<% KaTopic.where(parent_id: nil).each do |t| %>
  	  <li>
		<a> <b><%= link_to( t.id.to_s + ". " + t.text, edit_ka_topic_path(t.id) )%></b></a>
	  </li>
	<%end%>

	<li>	  
	  <%= link_to("Редактор", ka_topics_path) %>
	</li>


    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <!-- /#page-content-wrapper -->
</div>
  <div id="page-content-wrapper">
    <div id="admin-container"class="container">
      <%= yield %>
    </div>
  </div>
<div id="footer">
    <p class="pull-right">Copyright <i class="glyphicon glyphicon-copyright-mark"></i> at AI lab</p>
</div>
<div id="push"></div>
</body>
</html>
