<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= yield :title %></title>

  <!-- Bootstrap Core CSS -->
  <%= stylesheet_link_tag "bootstrap-standart.min", media: "all", "data-turbolinks-track" => true %>

  <!-- Custom CSS -->
  <%= stylesheet_link_tag "simple-sidebar", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "methodical_materials", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="/">На главную</a>
      </li>
      <li class="sidebar-brand">
        <%= link_to "Компоненты", methodical_materials_path %>
      </li>

      <% MethodicalMaterial.where.not(name: "Components").each do |material| %>
        <li>
          <%= link_to material.name, material, class: "mm-name" %>
          <% if @user.role == "admin" %>
              <span data-id="<%= material.id %>" class="mm-edit-name mm-edit-name-off">Правка</span>
              <% if @page && @page.id == material.id %>
                  <%= link_to "&times;".html_safe, methodical_material_path(@page.id), :method => :delete, :class => "mm-delete" %>
              <% else %>
                <span data-id="<%= material.id %>" class="mm-delete mm-delete-remote">&times;</span>
              <% end %>
          <% end %>
        </li>
      <% end %>

      <% if @user.role == "admin" %>
        <li>
          <div class="row">
            <div class="col-sm-offset-1 col-sm-9">
              <%= link_to "Добавить компонент", new_methodical_material_path, class: "btn btn-default" %>

            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap Core JavaScript -->
<%= javascript_include_tag "methodical_materials", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
<% if @user.role == "admin" %>
    <%= javascript_include_tag "methodical_materials_admin", "data-turbolinks-track" => true %>
<% end %>
</body>

</html>
