<!DOCTYPE html>
<html>
<head>
  <title>YTZ</title>
  <%= stylesheet_link_tag    "utz", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "utz", "data-turbolinks-track" => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
