Оценка : <%=   @studentframe.result%>
Ошибки : <%=   @studentframe.studentmistakes%>


<%= stylesheet_link_tag "framestudent" %>
<br>
 <div align="center"> Время(<label id="min" contentEditable=true>15</label>:<label id="sec" contentEditable=true>0</label>:<label id="complete" contentEditable=true></label>) </div>


<script>


    var horcreat =  parseInt("<%=@studentframe.created_at.hour %>");
    var mincreat =  parseInt("<%=@studentframe.created_at.min %>")*horcreat;
    var seccreat =  parseInt("<%=@studentframe.created_at.sec %>");

    var minutes = 1 -  (parseInt("<%=Time.now.hour * Time.now.min  %>") - mincreat);
    var seconds = - (parseInt("<%= Time.now.sec %>") - seccreat);
    if (seconds < 0)
    {
        seconds = 60 - seccreat;
    }

    //alert ("<%=@mytime%>" + " " + "<%=@studentframe.created_at %>")
    //alert(min + " " + sec)
    var time = []
    time.push(minutes);
    time.push(seconds);
    timerId = setInterval(function() {

        time[1] --;
        if (time[1] < 0)
        {
            time[1] = 59
            time[0] --;
        }
        $("#min").text(time[0]);
        $("#sec").text(time[1]);
        if (time[0] <= 0)
        {
            $("#complete").text("ЗАВЕРШИТЬ");
            $("#min").text(0);
            $("#sec").text(0);

        }


    }, 1000);

</script>


<script>

    function insertTab(o, e)
    {
        var kC = e.keyCode ? e.keyCode : e.charCode ? e.charCode : e.which;
        if (kC == 9 && !e.shiftKey && !e.ctrlKey && !e.altKey)
        {
            var oS = o.scrollTop;
            if (o.setSelectionRange)
            {
                var sS = o.selectionStart;
                var sE = o.selectionEnd;
                o.value = o.value.substring(0, sS) + "\t" + o.value.substr(sE);
                o.setSelectionRange(sS + 1, sS + 1);
                o.focus();
            }
            else if (o.createTextRange)
            {
                document.selection.createRange().text = "\t";
                e.returnValue = false;
            }
            o.scrollTop = oS;
            if (e.preventDefault)
            {
                e.preventDefault();
            }
            return false;
        }
        return true;
    }




</script>

<%= form_tag(framestudent_updateframe_path , method: "POST") do %>
    <div id="line">
      <%= hidden_field_tag(:id, value=params[:id])%>



      <%= label_tag(name="Название: " + @studentframe.etalonframe.name)%>
      <br>
      <%= text_area_tag(:studentcode, @studentframe.studentcode, autofocus: true,rows: 20,  cols: 80, onkeydown: "insertTab(this, event)" , maxlength: 2500) %>
      <%= text_area_tag(:dictionary, @studentframe.etalonframe.dictionary, autofocus: true,  rows: 20,  cols: 25, onkeydown: "insertTab(this, event)" ) %>
      <%= text_area_tag(:console, @studentframe.mistakes.to_s + "\n" , autofocus: true,  rows: 20,  cols: 40, onkeydown: "insertTab(this, event)", :id => "666" ) %>

      <br>


      <br>
      <%= submit_tag("Транслировать") %>
      <%= submit_tag("Завершить") %>

    </div>
<% end %>
<%= label_tag(name="Словарь")%>



<%= label_tag(name="Вывод")%>
<br>
<%= render partial: "frametable"%>
