Оценка : <%=   @studentframe.result%>
Ошибки : <%=   @studentframe.studentmistakes%>
<br/>
<a href="/">Выход</a>


<%= stylesheet_link_tag "framestud" %>
<br>
 <div align="center"> Время(<label id="min" contentEditable=true></label>:<label id="sec" contentEditable=true></label>) </div>


<script>




    var mytime = <%= 900 - ( (Time.now.to_i).floor - (@studentframe.created_at.to_i).floor) %>
    var minutes =  (mytime/60).toFixed(0);
    var seconds =  (mytime % 60);
    //alert(minutes)
    //alert(seconds)
    //alert("<%= 900 - ( (Time.now.to_i).floor - (@studentframe.created_at.to_i).floor) %>")
    //alert ("<%=@mytime%>" + " " + "<%=@studentframe.created_at %>")
    //alert(min + " " + sec)
    var time = []
    time.push(minutes);
    time.push(seconds);
    timerId = setInterval(function() {

        time[1] --;
        if (time[1] < 0)
        {
            time[1] = 59
            time[0] --;
        }
        $("#min").text(time[0]);
        $("#sec").text(time[1]);
        if (time[0] <= 0)
        {
            $("#complete").text("ЗАВЕРШИТЬ");
            $("#min").text(0);
            $("#sec").text(0);

        }


    }, 1000);

</script>


<script>

    function insertTab(o, e)
    {
        var kC = e.keyCode ? e.keyCode : e.charCode ? e.charCode : e.which;
        if (kC == 9 && !e.shiftKey && !e.ctrlKey && !e.altKey)
        {
            var oS = o.scrollTop;
            if (o.setSelectionRange)
            {
                var sS = o.selectionStart;
                var sE = o.selectionEnd;
                o.value = o.value.substring(0, sS) + "\t" + o.value.substr(sE);
                o.setSelectionRange(sS + 1, sS + 1);
                o.focus();
            }
            else if (o.createTextRange)
            {
                document.selection.createRange().text = "\t";
                e.returnValue = false;
            }
            o.scrollTop = oS;
            if (e.preventDefault)
            {
                e.preventDefault();
            }
            return false;
        }
        return true;
    }




</script>

<%= form_tag(framestudent_updateframe_path , method: "POST") do %>
    <div id="line">
      <%= hidden_field_tag(:id, value=params[:id])%>


<table border="2px" align="center">
   <caption><b> <%= label_tag(name="Название: " + @studentframe.etalonframe.name)%></b></caption>
			<tr>
				<td>Интерпретатор</td>			
				<td>Словарь</td>			
				<td>Вывод</td>			
			</tr>
      <tr>
      
      	 	<td><%= text_area_tag(:studentcode, @studentframe.studentcode, autofocus: true,rows: 25,  cols: 105, onkeydown: "insertTab(this, event)" , maxlength: 2500) %> </td>
      
					<td><%= text_area_tag(:dictionary, @studentframe.etalonframe.dictionary, autofocus: true,  rows: 25,  cols: 25, onkeydown: "insertTab(this, event)" ) %></td>
      		<td><%= text_area_tag(:console, @studentframe.mistakes.to_s + "\n" , autofocus: true,  rows: 25,  cols: 40, onkeydown: "insertTab(this, event)", :id => "666" ) %></td>
      </tr>
			<tr>
				<td>      <%= submit_tag("Транслировать") %>
      						<%= submit_tag("Завершить") %></td>
			</tr>
			<tr>
				<td><%= text_area_tag(:task, @studentframe.etalonframe.studentcode, autofocus: false,rows: 25,  cols: 105 , maxlength: 2500) %> </td>
				<td><%= render partial: "frametable"%></td>
			</tr>

</table>






      <br>




    </div>
<% end %>

